<div class="box box-solid box-primary">
    <div class="box-header">
        <div class="box-title">
            Courts
        </div>
        <span class="pull-right">
            <a href="#" ng-click="$ctrl.openModal()">New Court</a>
        </span>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div ng-show="!$ctrl.courts">
            <h3>No courts</h3>
        </div>

        <table class="table" ng-show="$ctrl.courts">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Abbreviation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in $ctrl.courts">
                    <td>{{ c.name }}</td>
                    <td>{{ c.abbreviation }}</td>
                    <td>
                        <i class="fa fa-pencil fa-lg" ng-click="$ctrl.openModal(c)"></i>
                        <i class="fa fa-trash fa-lg" ng-click="$ctrl.openModal(c)"></i>
                </tr>
            </tbody>
        </table>
        <!-- /.table -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <span class="small-box-footer">

        </span>
    </div>
    <!-- /.box-footer -->
    <div class="overlay" ng-show="$ctrl.isBusy">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>
<!-- /.box -->