<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-action="Index" class="navbar-brand">Case Tracker</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.HasClaim("LoginProvider", "SPLC"))
                    {
                        <li><a asp-action="Courts">Courts</a></li>
                        <li><a asp-action="Jurisdictions">Jurisdictions</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
                <environment names="Development">
                    <ul class="nav pull-right">
                        <li>
                            <span class="navbar-text">Development</span>
                        </li>
                    </ul>
                </environment>
            </div>
        </div>
    </nav>
</header>