<div class="box box-solid box-primary">
    <div class="box-header">
        <div class="box-title">
            {{$ctrl.case.caption}}
        </div>
    </div>
    <!-- /.box-header -->

    <div class="box-body">
        <div class="row" ng-show="!$ctrl.case">
            <div class="col-md-12">
                <strong>No Case Found</strong>
            </div>
        </div>

        <div class="row" ng-show="$ctrl.case">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">Plaintiff(s)</dt>
                    <dd class="col-sm-10">
                        <div class="input-group">
                            <input type="text" ng-model="$ctrl.plaintiff.name" class="form-control" placeholder="Plaintiff Name" />
                            <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="button" ng-click="$ctrl.addLitigant()">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                    </span>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="p in $ctrl.case.plaintiffs">
                                <span>
                                    {{ p.name }}
                                </span>
                                <span class="pull-right">
                                    <button class="btn btn-sm" ng-click="$ctrl.deleteLitigant(p, 'plaintiff')">Delete</button>
                                </span>
                            </li>
                        </ul>
                    </dd>

                    <dt class="col-sm-2">Defendant(s)</dt>
                    <dd class="col-sm-10">
                        <div class="input-group">
                            <input type="text" ng-model="$ctrl.defendant.name" class="form-control" placeholder="Defendant Name" />
                            <span class="input-group-btn">
                                      <button class="btn btn-secondary" type="button" ng-click="$ctrl.addLitigant()">
                                            <i class="glyphicon glyphicon-plus"></i>
                                      </button>
                                    </span>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="p in $ctrl.case.defendants">
                                <span>
                                    {{ p.name }}
                                </span>
                                <span class="pull-right">
                                    <button class="btn btn-sm" ng-click="$ctrl.deleteLitigant(p, 'defendant')">Delete</button>
                                </span>
                            </li>
                        </ul>
                    </dd>

                    <dt class="col-sm-2">Case Number</dt>
                    <dd class="col-sm-10">{{$ctrl.case.caseNumber}}</dd>

                    <dt class="col-sm-2">Filed</dt>
                    <dd class="col-sm-10">{{$ctrl.case.dateFiled}}</dd>

                    <dt class="col-sm-2">Court</dt>
                    <dd class="col-sm-10">{{$ctrl.case.court}}</dd>

                    <dt class="col-sm-2">Judge</dt>
                    <dd class="col-sm-10">{{$ctrl.case.judge}}</dd>

                    <dt class="col-sm-2">Summary</dt>
                    <dd class="col-sm-10">{{$ctrl.case.summary}}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong><i class="fa fa-tags"></i> Tags: </strong>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-muted">Created by: {{$ctrl.case.createdUser}} {{$ctrl.case.createDate}}</div>
            </div>

        </div>

    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <div class="pull-right">
            <a href="#" ng-click="$ctrl.openModal()">Edit</a>
            <a href="#" ng-show="$ctrl.case.canDelete">Delete</a>
        </div>
        <div>
            <a href="/">Return to List</a>
        </div>
    </div>

</div>
<!-- /.box -->