<div ng-show="!$ctrl.cases">
    <h3>No cases</h3>
</div>

<div ng-show="$ctrl.cases">

    <table class="table">
        <thead>
            <tr>
                <th>Case#</th>
                <th>Caption</th>
                <th>Judge</th>
                <th>Date Filed</th>
                <th>Court</th>
                <th>Jurisdiction</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in $ctrl.cases">
                <td><a href="case/{{c.id}}">{{ c.caseNumber }}</a></td>
                <td>{{ c.caption }}</td>
                <td>{{ c.judge }}</td>
                <td>{{ c.dateFiled }}</td>
                <td>{{ c.court.name }}</td>
                <td>{{ c.jurisdiction.name }}</td>
            </tr>
        </tbody>
    </table>

</div>