<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{$ctrl.title}}
        <small>{{$ctrl.description}}</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">{{$ctrl.title}}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary box-solid">
                <div class="box-header">
                    <h3 class="box-title">{{$ctrl.subTitle}}</h3>
                    <small>({{$ctrl.searchModel.filteredCount}} / {{$ctrl.searchModel.totalCount}}) Total Records</small>
                    <span class="pull-right">
                        <small>Page {{$ctrl.searchModel.page}} of {{$ctrl.searchModel.totalPages}}</small>
                    </span>

                </div>
                <!-- /.box-header -->
                <div class="box-body" st-table="$ctrl.cases" st-pipe="$ctrl.search">

                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <div class="form-group">
                                <span>
                                    <button class="btn btn-primary" st-submit-search>
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                    <button class="btn btn-default" st-reset-search ng-model="$ctrl.searchModel">Clear</button>
                                </span>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <span class="pull-right">
                                <button class="btn btn-default" ng-click="$ctrl.openModal()">
                                    New
                                </button>
                            </span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th class="sort-header" st-sort="caption">Caption</th>
                                        <th class="sort-header" st-sort="judge">Judge</th>
                                        <th class="sort-header" st-sort="dateFiled">Date Filed</th>
                                        <th class="sort-header" st-sort="courtName">Court</th>
                                        <th class="sort-header" st-sort="jurisdiction">Jurisdiction</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <input type="text" st-clear-key ng-model="$ctrl.searchModel.caption" class="form-control" placeholder="Caption" />
                                        </th>
                                        <th>
                                            <input type="text" st-clear-key ng-model="$ctrl.searchModel.judge" class="form-control" placeholder="Judge" />
                                        </th>
                                        <th>
                                            <input type="text" st-clear-key ng-model="$ctrl.searchModel.dateFiled" class="form-control" placeholder="Date Filed" />
                                        </th>
                                        <th>
                                            <input type="text" st-clear-key ng-model="$ctrl.searchModel.court" class="form-control" placeholder="Court Name" />
                                        </th>
                                        <th>
                                            <input type="text" st-clear-key ng-model="$ctrl.searchModel.jurisdiction" class="form-control" placeholder="Jurisdiction"
                                            />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in $ctrl.cases">
                                        <td><a href="case/{{c.id}}">{{ c.caption }}</a></td>
                                        <td>{{ c.judge }}</td>
                                        <td>{{ c.dateFiled | date:'MM/dd/yyyy' }}</td>
                                        <td>{{ c.court }}</td>
                                        <td>{{ c.jurisdiction }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>

                                        <td colspan="11" class="text-center">

                                            <span uib-pagination total-items="$ctrl.searchModel.filteredCount" ng-model="$ctrl.searchModel.page" max-size="5" items-per-page="$ctrl.searchModel.pageSize"
                                                class="pagination-sm" boundary-link-numbers="true" ng-change="$ctrl.paged()"
                                                rotate="false">
                                            </span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div>
                                <span class="pull-right text-muted small">
                                    {{ $ctrl.searchModel.elapsedTime }}
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                </div>
                <!-- ./box-footer -->
                <div class="overlay" ng-show="$ctrl.isBusy">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->

<toast></toast>