<form novalidate="" name="form">
    <div class="modal-header">
        <h3 class="modal-title">
            {{$ctrl.title}}
        </h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="" class="control-label">Caption</label>
            <input type="text" class="form-control" ng-model="$ctrl.case.caption">
        </div>
        <div class="form-group">
            <label for="" class="control-label">Case #</label>
            <input type="text" class="form-control" ng-model="$ctrl.case.caseNumber">
        </div>
        <div class="form-group">
            <label for="" class="control-label">Judge</label>
            <input type="text" class="form-control" ng-model="$ctrl.case.judge">
        </div>
        <div class="form-group">
            <label for="" class="control-label">Summary</label>
            <input type="text" class="form-control" ng-model="$ctrl.case.summary">
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
        <button class="btn btn-primary" data-dismiss="modal" ng-disabled="!form.$dirty" ng-click="$ctrl.save()">Save</button>
    </div>

</form>