<div class="box box-solid box-primary">
    <div class="box-header">
        <div class="box-title">
            Case Listings
        </div>
        <span class="pull-right">
            <a href="#" ng-click="$ctrl.openModal()">New Filing</a>
        </span>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div ng-show="!$ctrl.cases">
            <h3>No cases</h3>
        </div>

        <table class="table" ng-show="$ctrl.cases">
            <thead>
                <tr>
                    <th>Case#</th>
                    <th>Caption</th>
                    <th>Judge</th>
                    <th>Date Filed</th>
                    <th>Court</th>
                    <th>Jurisdiction</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in $ctrl.cases">
                    <td><a href="case/{{c.id}}">{{ c.caseNumber }}</a></td>
                    <td>{{ c.caption }}</td>
                    <td>{{ c.judge }}</td>
                    <td>{{ c.dateFiled | date:'MM/dd/yyyy' }}</td>
                    <td>{{ c.court.name }}</td>
                    <td>{{ c.jurisdiction }}</td>
                </tr>
            </tbody>
        </table>
        <!-- /.table -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <span class="small-box-footer">
           
        </span>
    </div>
    <!-- /.box-footer -->
    <div class="overlay" ng-show="$ctrl.isBusy">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>
<!-- /.box -->
<toast></toast>